{% extends '../base.html' %}
{% load static %}

{% block title %}
    
    {% block nav_title %}
        Password Reset Done
    {% endblock nav_title %}
        
{% endblock title %}
    
{% block content %}
    <div class="login-container d-flex justify-content-center align-items-center">
        <div class="login-card p-4 rounded col-12 col-sm-6 col-md-4 text-white">
            <div class="text-center mb-3">
                <img src="{% static 'images/logo.png' %}" alt="logo" width="50">
                <h5 class="mt-2">Real Estate Management</h5>
            </div>
            <div>
                <h6  class="text-center">Password Reset</h6>
            </div>
            <div>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                <a href="{% url 'property:home' %}" class="btn btn-primary btn-sm">Home</a>
            </div>
        </div>
    </div>
{% endblock content %}
    