{% extends '../base.html' %}
{% load static %}

{% block title %}
    
    {% block nav_title %}
        Password Reset Complete
    {% endblock nav_title %}
        
{% endblock title %}
    
{% block content %}
    <div class="login-container d-flex justify-content-center align-items-center">
        <div class="login-card p-4 rounded col-12 col-sm-6 col-md-3 text-white text-center">
            <div class="text-center mb-3">
                <img src="{% static 'images/logo.png' %}" alt="logo" width="50">
                <h5 class="mt-2">Real Estate Management</h5>
            </div>
            <div class="d-flex flex-column align-items-center">
                <h6  class="text-center">Password Reset Complete</h6>
                <p>Your password has been set.  You may go ahead and log in now.</p>
                <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-sm">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}
    