/*  carousel      */
.carousel {
	width: 100%;
	position: relative;
}
.carousel-item {
  height: 100%;
  width: 100%;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 85px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: "Moon Dance", cursive;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-caption a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 20px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  border-radius: 5px;
}

/* .carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
} */
.carousel-indicators {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
}
.carousel-indicators button {
  width: 100px !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }
  .navbar-collapse {
    background: #fff;
  }
  .navbar-collapse .nav-item .nav-link {
    color: #000;
  }
  .carousel-caption {
    bottom: 350px;
  }
  .carousel-caption h5 {
    font-size: 65px;
  }
  .carousel-caption p {
    font-size: 18px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .navbar-collapse .nav-item .nav-link {
    color: #000;
  }

  .carousel-caption {
    bottom: 165px;
  }
  .carousel-caption h5 {
    font-size: 25px;
  }
  .carousel-caption p {
    font-size: 12px;
    width: 100%;
  }
  .carousel-caption a {
    padding: 10px 15px;
    font-size: 15px;
  }
  .navbar-collapse {
    background: #fff;
  }
}

.carousel-indicators .active::before {
  display: none;
}
